/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button {
  cursor: pointer;
  padding: 10px 20px;
} */

/* body {
  margin: 0;
  overflow: hidden;
  padding: 10px;
} */

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
html {
  /* background-color: blue; */
}

body {
  /* background-color: red; */
}