* {
    margin: 0;
}

body {
    background-color: royalblue;
}

div {
    min-width: 230px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: rgb(29, 75, 210);
    border-radius: 15px;
}

h1 {
    font-size: 40px;
    font-weight: bold;
}

h2 {
    font-size: 25px;
}

a {
    width: 60%;
    text-align: center;
    background-color: white;
    padding: 10px 20px;
    color: black;
    border-radius: 10px;
    /* Push to bottom */
    margin-top: auto;
    margin-bottom: 0px;
}

.tests-grid {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    justify-items: center;
}